{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block nav %}
    <a href="/login">Login</a>
{% endblock %}
{% block content %}
<div class="card">
    <h2>Resetare Parola</h2>
    <div id="message"></div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" id="email" placeholder="email">
    </div>
    <button onclick="Forgot()">Trimite link de resetare</button>
    <p class="text-center mt"><a href="/login">Inapoi la Login</a></p>
</div>
{% endblock %}
